In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'name':['reza','Ali'],'family':['derakhshan','rahimi']})

In [3]:
df

   name      family
0  reza  derakhshan
1   Ali      rahimi

In [5]:
df.head()

   name      family
0  reza  derakhshan
1   Ali      rahimi