In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame({'name':['reza','Ali'],'family':['derakhshan','rahimi']})

In [5]:
df

   name      family
0  reza  derakhshan
1   Ali      rahimi

In [6]:
df.head()

   name      family
0  reza  derakhshan
1   Ali      rahimi

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   family  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes